In [88]:
import nltk
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [89]:
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [90]:
import io
dataset = pd.read_excel('RCNIC_covid_lable.xlsx')

In [87]:
dataset['QuestionGroupName'].isnull().values.any()

False

In [91]:
dataset = dataset.dropna(axis=0, subset=['QuestionGroupName'])

In [92]:
dataset = dataset.dropna(axis=0, subset=['QuestionLiteral'])

In [93]:
dataset['QuestionLiteral'].isnull().values.any()

False

In [94]:
dataset["QuestionGroupName"] = dataset["QuestionGroupName"].apply(np.int64)

In [95]:
dataset.head(10)

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,What pay or salary do you expect to be getting...,Numeric,NaN
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,Ref. No.,Text,NaN
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,What clubs do you belong to? How often do you ...,Numeric,NaN
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,What are the main things you do in your spare ...,Text,NaN
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,What will you have to do to get that job? What...,Text,NaN
5,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:183a5213-9b0d-4934-8516-670e...,10402,Personality | Temperament,urn:ddi:uk.lha:cab9cd2b-748a-4cd0-a7c5-5f383eb...,"Is there anything about your job, or your life...",Text,NaN
6,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:fcad3db0-a68b-49ad-a3f7-61c984a...,What is your present job?,Text,NaN
7,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:aeb8fae6-7783-40d4-9d55-6cc6ad9...,What clubs do you belong to? How often do you ...,Numeric,NaN
8,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:d1ca9cb7-1e3f-4d84-8f1c-6db653d...,What clubs do you belong to? How often do you ...,Numeric,NaN
9,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:f4c45a14-2734-4fd3-acce-6edd0b7...,What clubs do you belong to? How often do you ...,Numeric,NaN

In [10]:
from nltk.corpus import stopwords

In [96]:
dataset.QuestionLiteral[4]

'What will you have to do to get that job? What jobs will you have to do first, what exams must you pass, and so on?'

In [97]:
import re
import string

#Removing the punctuations
dataset['QuestionLiteral']=dataset['QuestionLiteral'].map(lambda x: re.sub('[,\.!?]', '', x))
#Making it in lowercase

dataset['QuestionLiteral']=dataset['QuestionLiteral'].map(lambda x: x.lower())

#Print the first few rows

#Removing the /n and replacing with white spaces
dataset['QuestionLiteral']=dataset['QuestionLiteral'].map(lambda x: re.sub("\n", " ", x))

dataset['QuestionLiteral'][0]

'what pay or salary do you expect to be getting then â£  per week'

In [ ]:
from nltk.stem import WordNetLemmatizer, PorterStemmer
lemmatizer = WordNetLemmatizer()

In [98]:

dataset['QuestionLiteral'].iloc[8]

'what clubs do you belong to how often do you go youth club run by church  times a month'

In [99]:
import pandas as pd
import io

In [100]:
data2 = pd.read_excel('Codes_1.xlsx')

In [101]:
df2 = data2. filter(['Level 1', 'Level 2','Colectica Code.1'])

In [102]:
df2

          Level 1                Level 2  Colectica Code.1
0    Demographics                    NaN             101.0
1    Demographics        Place of birth            10101.0
2    Demographics                Gender            10102.0
3    Demographics          Ethnic group            10103.0
4    Demographics    Language(s) spoken            10104.0
..            ...                    ...               ...
222      Covid-19                    NaN               NaN
223      Covid-19       Pregnancy (CV19)           11614.0
224      Covid-19                    NaN               NaN
225      Covid-19                    NaN               NaN
226      Covid-19  Administration (CV19)           11615.0

[227 rows x 3 columns]

In [103]:
df = dataset

In [104]:
df

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN
...,...,...,...,...,...,...,...,...,...
42003,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:b5764a7d-951c-4e66-adfe-b00c...,10901,Occupation | Employment,urn:ddi:uk.lha:c6960108-d630-4f37-be5a-d84bcc0...,why do you want it,Text,NaN
42004,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:98d7c7f5-171f-47d6-bb44-e59a1d7...,have you ever had a squint,CodeList,"1, yes | 0, no"
42005,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:3506c2ad-073d-4117-8f6e-24fea22...,have you been to see them,CodeList,"1, yes | 0, no"
42006,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:e420ab0e-329e-4ef1-8e1d-2964193...,how many times,Numeric,NaN
42007,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:0f7d3d67-6e8b-4673-845a-b3e813f...,what have you been about,Text,NaN

In [105]:
df2 = df2.dropna(axis=0, subset=['Colectica Code.1'])

In [106]:
df2['Colectica Code.1'] = df2['Colectica Code.1'].apply(np.int64)

In [107]:
df2.reset_index(drop=True,inplace=True)

In [108]:
df.reset_index(drop=True,inplace=True)

In [109]:
df['QuestionLiteral'].iloc[35131]

'what have you been about'

In [110]:
df['Level1']=""

In [111]:
df['Level2']=""

In [112]:
df.Level2

0
1
2
3
4
        ..
35127
35128
35129
35130
35131
Name: Level2, Length: 35132, dtype: object

In [113]:
df['QuestionGroupName'][16]

10705

In [114]:
for i in range(0,len(dataset)):
    df_new= pd.DataFrame()
    #print("rrr",i)
    df_new= df2.loc[df2['Colectica Code.1'] == df['QuestionGroupName'][i]]
    if (len(df)>0):
      df['Level1'][i]=df_new['Level 1']
      df['Level2'][i]=df_new['Level 2']

In [115]:
df_new

        Level 1                       Level 2  Colectica Code.1
44  Health care  Health services utilisation              10501

In [116]:
df

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response,Level1,Level2
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN,"91 Employment and income Name: Level 1, dty...","91 Income Name: Level 2, dtype: object"
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN,"118 Administration Name: Level 1, dtype: ob...","118 NaN Name: Level 2, dtype: object"
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN,69 Family and social networks Name: Level ...,"69 Leisure activities Name: Level 2, dtype..."
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN,69 Family and social networks Name: Level ...,"69 Leisure activities Name: Level 2, dtype..."
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN,"89 Employment and income Name: Level 1, dty...","89 Occupation | Employment Name: Level 2, ..."
...,...,...,...,...,...,...,...,...,...,...,...
35127,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:b5764a7d-951c-4e66-adfe-b00c...,10901,Occupation | Employment,urn:ddi:uk.lha:c6960108-d630-4f37-be5a-d84bcc0...,why do you want it,Text,NaN,"89 Employment and income Name: Level 1, dty...","89 Occupation | Employment Name: Level 2, ..."
35128,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:98d7c7f5-171f-47d6-bb44-e59a1d7...,have you ever had a squint,CodeList,"1, yes | 0, no","36 Physical health Name: Level 1, dtype: o...","36 General health Name: Level 2, dtype: ob..."
35129,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:3506c2ad-073d-4117-8f6e-24fea22...,have you been to see them,CodeList,"1, yes | 0, no","36 Physical health Name: Level 1, dtype: o...","36 General health Name: Level 2, dtype: ob..."
35130,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:e420ab0e-329e-4ef1-8e1d-2964193...,how many times,Numeric,NaN,"44 Health care Name: Level 1, dtype: object",44 Health services utilisation Name: Level...
35131,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:0f7d3d67-6e8b-4673-845a-b3e813f...,what have you been about,Text,NaN,"44 Health care Name: Level 1, dtype: object",44 Health services utilisation Name: Level...

In [31]:
f1=df
f2=f1

In [117]:
df['Level1'] = df['Level1'].map(lambda x: str(x)[2:])

In [118]:
df['Level2'] = df['Level2'].map(lambda x: str(x)[2:])

In [119]:
df['Level1']

0            Employment and income\nName: Level 1, dtyp...
1        8    Administration\nName: Level 1, dtype: object
2            Family and social networks \nName: Level 1...
3            Family and social networks \nName: Level 1...
4            Employment and income\nName: Level 1, dtyp...
                               ...
35127        Employment and income\nName: Level 1, dtyp...
35128        Physical health \nName: Level 1, dtype: ob...
35129        Physical health \nName: Level 1, dtype: ob...
35130            Health care\nName: Level 1, dtype: object
35131            Health care\nName: Level 1, dtype: object
Name: Level1, Length: 35132, dtype: object

In [120]:
df['Level2']

0                     Income\nName: Level 2, dtype: object
1                   8    NaN\nName: Level 2, dtype: object
2            Leisure activities \nName: Level 2, dtype:...
3            Leisure activities \nName: Level 2, dtype:...
4            Occupation | Employment \nName: Level 2, d...
                               ...
35127        Occupation | Employment \nName: Level 2, d...
35128        General health \nName: Level 2, dtype: object
35129        General health \nName: Level 2, dtype: object
35130        Health services utilisation \nName: Level ...
35131        Health services utilisation \nName: Level ...
Name: Level2, Length: 35132, dtype: object

In [121]:
for i in range(0,len(df)):
  df['Level1'][i]=df['Level1'][i].split('\n',1)[0]

In [122]:
for i in range(0,len(df)):
  df['Level2'][i]=df['Level2'][i].split('\n',1)[0]

In [123]:
df

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response,Level1,Level2
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN,Employment and income,Income
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN,8 Administration,8 NaN
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN,Family and social networks,Leisure activities
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN,Employment and income,Occupation | Employment
...,...,...,...,...,...,...,...,...,...,...,...
35127,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:b5764a7d-951c-4e66-adfe-b00c...,10901,Occupation | Employment,urn:ddi:uk.lha:c6960108-d630-4f37-be5a-d84bcc0...,why do you want it,Text,NaN,Employment and income,Occupation | Employment
35128,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:98d7c7f5-171f-47d6-bb44-e59a1d7...,have you ever had a squint,CodeList,"1, yes | 0, no",Physical health,General health
35129,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:3506c2ad-073d-4117-8f6e-24fea22...,have you been to see them,CodeList,"1, yes | 0, no",Physical health,General health
35130,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:e420ab0e-329e-4ef1-8e1d-2964193...,how many times,Numeric,NaN,Health care,Health services utilisation
35131,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:0f7d3d67-6e8b-4673-845a-b3e813f...,what have you been about,Text,NaN,Health care,Health services utilisation

In [124]:
dataframe=df

In [125]:
df['Level1'] = df['Level1'].str.replace('\d+', '')
df['Level2'] = df['Level2'].str.replace('\d+', '')

In [126]:
df.head(10)

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response,Level1,Level2
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN,Employment and income,Income
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN,Administration,NaN
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN,Family and social networks,Leisure activities
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN,Employment and income,Occupation | Employment
5,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:183a5213-9b0d-4934-8516-670e...,10402,Personality | Temperament,urn:ddi:uk.lha:cab9cd2b-748a-4cd0-a7c5-5f383eb...,is there anything about your job or your life ...,Text,NaN,Mental health and mental processes,Personality | Temperament
6,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:fcad3db0-a68b-49ad-a3f7-61c984a...,what is your present job,Text,NaN,Employment and income,Occupation | Employment
7,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:aeb8fae6-7783-40d4-9d55-6cc6ad9...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
8,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:d1ca9cb7-1e3f-4d84-8f1c-6db653d...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
9,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:f4c45a14-2734-4fd3-acce-6edd0b7...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities

In [127]:
df['Level2'].isnull().values.any()

False

In [128]:
df['Level2'].iloc[1]

'    NaN'

In [ ]:
df_test=df.iloc[:10,:]

In [ ]:
len(df)

35132

In [129]:
for i in range(0,len(df)):
  df['Level2'] = df['Level2'].replace('\s*NaN','',regex=True)

In [130]:
ff=df
new=df

In [131]:
from numpy.random import RandomState

In [ ]:
rng = RandomState()

In [132]:
df_train = df

In [45]:
df

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response,Level1,Level2
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN,Employment and income,Income
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN,Administration,
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN,Family and social networks,Leisure activities
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN,Employment and income,Occupation | Employment
...,...,...,...,...,...,...,...,...,...,...,...
35127,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:b5764a7d-951c-4e66-adfe-b00c...,10901,Occupation | Employment,urn:ddi:uk.lha:c6960108-d630-4f37-be5a-d84bcc0...,why do you want it,Text,NaN,Employment and income,Occupation | Employment
35128,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:98d7c7f5-171f-47d6-bb44-e59a1d7...,have you ever had a squint,CodeList,"1, yes | 0, no",Physical health,General health
35129,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:3506c2ad-073d-4117-8f6e-24fea22...,have you been to see them,CodeList,"1, yes | 0, no",Physical health,General health
35130,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:e420ab0e-329e-4ef1-8e1d-2964193...,how many times,Numeric,NaN,Health care,Health services utilisation
35131,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:0f7d3d67-6e8b-4673-845a-b3e813f...,what have you been about,Text,NaN,Health care,Health services utilisation

In [134]:
df_train.head(10)

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response,Level1,Level2
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN,Employment and income,Income
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN,Administration,
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN,Family and social networks,Leisure activities
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN,Employment and income,Occupation | Employment
5,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:183a5213-9b0d-4934-8516-670e...,10402,Personality | Temperament,urn:ddi:uk.lha:cab9cd2b-748a-4cd0-a7c5-5f383eb...,is there anything about your job or your life ...,Text,NaN,Mental health and mental processes,Personality | Temperament
6,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:fcad3db0-a68b-49ad-a3f7-61c984a...,what is your present job,Text,NaN,Employment and income,Occupation | Employment
7,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:aeb8fae6-7783-40d4-9d55-6cc6ad9...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
8,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:d1ca9cb7-1e3f-4d84-8f1c-6db653d...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
9,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:f4c45a14-2734-4fd3-acce-6edd0b7...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities

df_test=df_train.iloc[:10,:]

for i in range(0,len(df_test)):
  df_test['Level1']=df_test['Level1'].str.rstrip()

df_train

df_train=df_train.reset_index()

df_train

In [ ]:
df_train = df_train.sample(frac=1).reset_index(drop=True)

In [135]:
for i in range(0,len(df_train)):
  df_train['Level1']=df_train['Level1'].str.rstrip()
  df_train['Level2']=df_train['Level2'].str.rstrip()

In [136]:
for i in range(0,len(df_train)):
  df_train['Level1']=df_train['Level1'].str.lstrip()
  df_train['Level2']=df_train['Level2'].str.lstrip()

In [137]:
class LabelDictionary():
    def __init__(self):
        self.y2i = {}
        self.i2y ={}

In [138]:
def create_class_dict(y_labels):
    dict = LabelDictionary()
    # this function takes labels in L2 and
    # transform into range (0,max_classes) for train
    unique_labels = set(np.unique(y_labels))
    for i,label in enumerate(unique_labels):
        dict.y2i[label]=i
        dict.i2y[i]=label
    return dict

In [139]:
import re
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.feature_extraction.text import CountVectorizer
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import numpy as np
import os
import pandas as pd

In [140]:
df_train.QuestionLiteral

0        what pay or salary do you expect to be getting...
1                                                   ref no
2        what clubs do you belong to how often do you g...
3        what are the main things you do in your spare ...
4        what will you have to do to get that job what ...
                               ...
35127                                   why do you want it
35128                           have you ever had a squint
35129                            have you been to see them
35130                                       how many times
35131                             what have you been about
Name: QuestionLiteral, Length: 35132, dtype: object

In [141]:
df_train_new=df_train

In [142]:
class Dataset():
    def __init__(self):
        self.x_train=None
        self.y_train=None
        self.x_val=None
        self.y_val=None
        self.label_dict=None
        self.number_of_classes=None
        self.childs=None

In [143]:
df_train

,InstrumentURN,Instrument,QuestionGroupURN,QuestionGroupName,QuestionGroupLabel,QuestionURN,QuestionLiteral,ResponseType,Response,Level1,Level2
0,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1c132240-77f5-44cb-9c3c-4e37...,10903,Income,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,what pay or salary do you expect to be getting...,Numeric,NaN,Employment and income,Income
1,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:e6c765b8-5963-4e27-95df-9661...,115,Administration,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,ref no,Text,NaN,Administration,
2,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,what clubs do you belong to how often do you g...,Numeric,NaN,Family and social networks,Leisure activities
3,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:1e7db3f1-46cf-4244-95e8-a700...,10709,Leisure activities,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,what are the main things you do in your spare ...,Text,NaN,Family and social networks,Leisure activities
4,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...,1962 Personal Questionnaire,urn:ddi:uk.closer:6dcf7f58-5225-4f93-a16f-a18d...,10901,Occupation | Employment,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,what will you have to do to get that job what ...,Text,NaN,Employment and income,Occupation | Employment
...,...,...,...,...,...,...,...,...,...,...,...
35127,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:b5764a7d-951c-4e66-adfe-b00c...,10901,Occupation | Employment,urn:ddi:uk.lha:c6960108-d630-4f37-be5a-d84bcc0...,why do you want it,Text,NaN,Employment and income,Occupation | Employment
35128,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:98d7c7f5-171f-47d6-bb44-e59a1d7...,have you ever had a squint,CodeList,"1, yes | 0, no",Physical health,General health
35129,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:323cd70f-3a23-4bf7-9c64-080e...,10323,General health,urn:ddi:uk.lha:3506c2ad-073d-4117-8f6e-24fea22...,have you been to see them,CodeList,"1, yes | 0, no",Physical health,General health
35130,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:e420ab0e-329e-4ef1-8e1d-2964193...,how many times,Numeric,NaN,Health care,Health services utilisation
35131,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...,1964 University Questionnaire,urn:ddi:uk.closer:517cd58d-6786-4421-93e3-e787...,10501,Health services utilisation,urn:ddi:uk.lha:0f7d3d67-6e8b-4673-845a-b3e813f...,what have you been about,Text,NaN,Health care,Health services utilisation

In [145]:
df_train['Level1'].unique()

array(['Employment and income', 'Administration',
       'Family and social networks',
       'Mental health\xa0and mental processes', 'Life events',
       'Education', 'Demographics', 'Health behaviour',
       'Housing and local environment', 'Physical\xa0health',
       'Child development', 'Health care',
       'Expectation, attitudes and beliefs', 'Covid-', 'Pregnancy',
       'Omics'], dtype=object)

In [146]:
MEMORY_MB_MAX = 1600000 # maximum memory you can use
MAX_SEQUENCE_LENGTH = 50# Maximum sequance lenght 500 words
MAX_NB_WORDS = 5500 # Maximum number of unique words
EMBEDDING_DIM = 100 #embedding dimension you can change it to {25, 100, 150, and 300} but need to change glove version
batch_size_L1 = 64 # batch size in Level 1
batch_size_L2 = 64

In [147]:
x_train = df_train.QuestionLiteral.values

In [148]:
tokenizer = Tokenizer(num_words=MAX_NB_WORDS)
tokenizer.fit_on_texts(x_train)
train_sequences = tokenizer.texts_to_sequences(x_train)
#test_sequences = tokenizer.texts_to_sequences(x_test)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 9109 unique tokens.

In [59]:
df_train2=df_train

In [149]:
#x_pad_test = pad_sequences(test_sequences, maxlen=MAX_SEQUENCE_LENGTH)
x_train_seq = pad_sequences(train_sequences, maxlen=MAX_SEQUENCE_LENGTH)
#x_test_seq = pad_sequences(test_sequences,maxlen=MAX_SEQUENCE_LENGTH)
df_train2['QuestionLiteral'] = x_train_seq.tolist()
#df_test2['text'] = x_test_seq.tolist()

In [150]:
def data_pipline(df_train, level=1, stop_level=2):
    d = Dataset()
    d.number_of_classes = len(df_train['Level%d' % level].unique())
    d.dict = create_class_dict(df_train['Level%d' % level].unique())
    d.x_train, d.x_val, d.y_train, d.y_val = \
        train_test_split(df_train.QuestionLiteral,
                         df_train['Level%d' % level].apply(lambda x: d.dict.y2i[x]),
                         test_size=0.1, random_state=0)

    children_data = [None] * len(d.dict.y2i)
    next_level = 1 + level
    if stop_level + 1 == next_level:
        d_childs = None
    else:
        for i in range(len(d.dict.i2y.keys())):
            children_data[i] = data_pipline(df_train[df_train['Level%d' % level] == d.dict.i2y[i]],
                                            level=next_level)
        d.childs = children_data
    return d

In [151]:
d_train = data_pipline(df_train2, level=1, stop_level=2)

In [152]:
embeddings_index = {}

In [153]:
f = open(os.path.join(os.getcwd(),'glove.6B.100d.txt'), encoding='utf8')
for line in f:
    values = line.split()
    word = values[0]
    try:
      coefs = np.asarray(values[1:], dtype='float32')
    except:
      print("Warnning"+str(values)+" in" + str(line))
    embeddings_index[word] = coefs
f.close()
print('Total %s word vectors.' % len(embeddings_index))

Total 400000 word vectors.

In [154]:
counter = 1 #keep track of number of models created
print('Create model of RNN in level1')
embedding_matrix = np.random.random((len(word_index) + 1, EMBEDDING_DIM))
for word, i in word_index.items():
  embedding_vector = embeddings_index.get(word)
  if embedding_vector is not None:
    embedding_matrix[i] = embedding_vector

Create model of RNN in level1

In [155]:
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Embedding, Concatenate, Dropout, LSTM, GRU, Bidirectional,SimpleRNN
from tensorflow.keras.layers import Dense, Input, Flatten

In [156]:
from tensorflow.keras import Sequential
def buildModel_RNN(word_index, embedding_matrix, nClasses, MAX_SEQUENCE_LENGTH, EMBEDDING_DIM):
    model = Sequential()
    model.add(Embedding(len(word_index) + 1,
                                EMBEDDING_DIM,
                                weights=[embedding_matrix],
                                input_length=MAX_SEQUENCE_LENGTH,
                                trainable=True))
    model.add(GRU(100,dropout=0.2, recurrent_dropout=0.2))
    model.add(Dense(nClasses, activation='softmax'))
    model.compile(loss='sparse_categorical_crossentropy',
                  optimizer='rmsprop',
                  metrics=['acc'])
    return model

In [157]:
model = buildModel_RNN(word_index, embedding_matrix,d_train.number_of_classes,MAX_SEQUENCE_LENGTH,
                                      EMBEDDING_DIM)

In [158]:
HDLTex1=[]
for i in range(0, d_train.number_of_classes):
  print('Create Sub model of level 1: ', i)
  HDLTex1.append(Sequential())
  HDLTex1[i] = buildModel_RNN(word_index, embedding_matrix,d_train.childs[i].number_of_classes,
                                              MAX_SEQUENCE_LENGTH, EMBEDDING_DIM)
  counter +=1

Create Sub model of level 1:  0
Create Sub model of level 1:  1
Create Sub model of level 1:  2
Create Sub model of level 1:  3
Create Sub model of level 1:  4
Create Sub model of level 1:  5
Create Sub model of level 1:  6
Create Sub model of level 1:  7
Create Sub model of level 1:  8
Create Sub model of level 1:  9
Create Sub model of level 1:  10
Create Sub model of level 1:  11
Create Sub model of level 1:  12
Create Sub model of level 1:  13
Create Sub model of level 1:  14
Create Sub model of level 1:  15

In [161]:
test_dtrainX=np.asarray(d_train.x_train)
test_dtrainY=np.asarray(d_train.y_train)

In [171]:
test_dtrainY

array([12,  9, 11, ...,  8, 10,  4], dtype=int64)

In [172]:
test_dvalX=np.asarray(d_train.x_val)
test_dvalY=np.asarray(d_train.y_val)

In [174]:
test_dvalY

array([ 4, 13,  4, ...,  1,  5,  8], dtype=int64)

In [163]:
test=[]
for i in range(0,len(test_dtrainX)):
    test.append(test_dtrainX[i])
test2=[]
for i in range(0,len(test_dvalX)):
    test2.append(test_dvalX[i])

In [178]:
test[0]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,   44,    3,    2,   27,  197,  123,
       3608,   16, 1402,  124,  506,  545])

In [176]:
test=np.asarray(test)

In [177]:
test2=np.asarray(test2)

In [180]:
child =[]
child_dtrainX=[]
child_dtrainY=[]
for i in range(0,d_train.number_of_classes):
    child_dtrainX.append(np.asarray(d_train.childs[i].x_train))
    child_dtrainY.append(np.asarray(d_train.childs[i].y_train))
    
for j in range(0,len(child_dtrainX)):
    child.append(child_dtrainX[j])

In [181]:
child2 =[]
child_valX=[]
child_valY=[]
for i in range(0,d_train.number_of_classes):
    child_valX.append(np.asarray(d_train.childs[i].x_val))
    
    child_valY.append(np.asarray(d_train.childs[i].y_val))
    
for j in range(0,len(child_valX)):
    child2.append(child_valX[j])

In [182]:
for i in range(0, len(child)):
    child[i]=np.stack(child[i], axis=0 )

In [183]:
for i in range(0, len(child2)):
    child2[i]=np.stack(child2[i], axis=0 )

In [184]:
child[]

array([[   0,    0,    0, ...,   38,  865,   93],
       [   0,    0,    0, ...,  139, 1233,  489],
       [   0,    0,    0, ...,  267,  393,    2],
       ...,
       [   0,    0,    0, ..., 1538,  240,  119],
       [   0,    0,    0, ...,  139, 1233,  489],
       [   0,    0,    0, ...,    0,   13,  241]])

In [188]:
child_dtrainY[1]

array([3, 1, 2, ..., 2, 1, 4], dtype=int64)

In [189]:
epochs=10
for epoch in range(epochs):
    print("starting to train on epoch %d"%epoch)
    model.fit(test,test_dtrainY,validation_data=(test2,test_dvalY),
              epochs=1,
              verbose=2,
              batch_size=batch_size_L1)
    print("Here")
    for i in range(0, d_train.number_of_classes):
        HDLTex1[i].fit(child[i], child_dtrainY[i],
                          validation_data=(child2[i], child_valY[i]),
                          epochs=1,
                          verbose=2,
                          batch_size=batch_size_L2)

starting to train on epoch 0
495/495 - 23s - loss: 0.5559 - acc: 0.8303 - val_loss: 0.6986 - val_acc: 0.7971
Here
58/58 - 6s - loss: 1.8961 - acc: 0.3477 - val_loss: 1.5531 - val_acc: 0.4806
18/18 - 4s - loss: 1.5695 - acc: 0.3635 - val_loss: 1.4160 - val_acc: 0.4683
1/1 - 3s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 3s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
WARNING:tensorflow:5 out of the last 12 calls to <function Model.make_test_function.<locals>.test_function at 0x000002184D147CA0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
97/97 - 8s - loss: 2.4611 - acc: 0.2664 - val_loss: 2.1810 - val_acc: 0.3479
15/15 - 3s - loss: 1.4275 - acc: 0.5022 - val_loss: 1.3309 - val_acc: 0.4804
38/38 - 5s - loss: 1.0827 - acc: 0.5955 - val_loss: 0.7442 - val_acc: 0.7057
14/14 - 3s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
WARNING:tensorflow:5 out of the last 21 calls to <function Model.make_test_function.<locals>.test_function at 0x00000218743EF0D0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
50/50 - 5s - loss: 1.2526 - acc: 0.5818 - val_loss: 1.2409 - val_acc: 0.5730
9/9 - 4s - loss: 0.6333 - acc: 0.7285 - val_loss: 0.5244 - val_acc: 0.7333
WARNING:tensorflow:5 out of the last 15 calls to <function Model.make_test_function.<locals>.test_function at 0x000002187D35AAF0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
42/42 - 5s - loss: 1.0854 - acc: 0.5977 - val_loss: 0.8885 - val_acc: 0.6689
67/67 - 6s - loss: 1.1868 - acc: 0.5787 - val_loss: 1.2563 - val_acc: 0.4331
44/44 - 5s - loss: 1.6457 - acc: 0.5261 - val_loss: 1.5306 - val_acc: 0.5793
25/25 - 5s - loss: 1.3033 - acc: 0.5003 - val_loss: 1.1452 - val_acc: 0.5843
15/15 - 5s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 3s - loss: 0.5540 - acc: 0.7965 - val_loss: 0.3880 - val_acc: 0.8730
starting to train on epoch 1
495/495 - 27s - loss: 0.5168 - acc: 0.8427 - val_loss: 0.6605 - val_acc: 0.8090
Here
58/58 - 3s - loss: 1.4574 - acc: 0.5046 - val_loss: 1.2901 - val_acc: 0.5680
18/18 - 1s - loss: 1.3011 - acc: 0.5248 - val_loss: 1.2813 - val_acc: 0.5397
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 6s - loss: 1.9657 - acc: 0.4232 - val_loss: 1.8175 - val_acc: 0.4643
15/15 - 1s - loss: 1.0460 - acc: 0.6368 - val_loss: 0.9749 - val_acc: 0.6765
38/38 - 2s - loss: 0.6685 - acc: 0.7778 - val_loss: 0.5295 - val_acc: 0.8189
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.9899 - acc: 0.6688 - val_loss: 0.9910 - val_acc: 0.6770
9/9 - 1s - loss: 0.4849 - acc: 0.7996 - val_loss: 0.4880 - val_acc: 0.7833
42/42 - 2s - loss: 0.7744 - acc: 0.7285 - val_loss: 0.7869 - val_acc: 0.7065
67/67 - 4s - loss: 1.0374 - acc: 0.6214 - val_loss: 1.1295 - val_acc: 0.6157
44/44 - 2s - loss: 1.3496 - acc: 0.6154 - val_loss: 1.2701 - val_acc: 0.6181
25/25 - 1s - loss: 0.9246 - acc: 0.6878 - val_loss: 0.8648 - val_acc: 0.7022
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.4027 - acc: 0.8814 - val_loss: 0.3962 - val_acc: 0.8730
starting to train on epoch 2
495/495 - 28s - loss: 0.4874 - acc: 0.8513 - val_loss: 0.6360 - val_acc: 0.8173
Here
58/58 - 3s - loss: 1.2479 - acc: 0.5867 - val_loss: 1.2351 - val_acc: 0.5801
18/18 - 1s - loss: 1.1462 - acc: 0.5878 - val_loss: 1.1651 - val_acc: 0.6111
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 1.6214 - acc: 0.5190 - val_loss: 1.5623 - val_acc: 0.5211
15/15 - 1s - loss: 0.8257 - acc: 0.7265 - val_loss: 0.7859 - val_acc: 0.7941
38/38 - 2s - loss: 0.5006 - acc: 0.8165 - val_loss: 0.5113 - val_acc: 0.8151
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.8387 - acc: 0.7185 - val_loss: 0.8629 - val_acc: 0.7303
9/9 - 1s - loss: 0.4363 - acc: 0.8277 - val_loss: 0.6056 - val_acc: 0.7667
42/42 - 2s - loss: 0.6078 - acc: 0.7924 - val_loss: 0.5981 - val_acc: 0.8020
67/67 - 4s - loss: 0.8948 - acc: 0.6844 - val_loss: 0.8754 - val_acc: 0.7176
44/44 - 2s - loss: 1.1498 - acc: 0.6554 - val_loss: 1.1580 - val_acc: 0.6375
25/25 - 1s - loss: 0.7211 - acc: 0.7536 - val_loss: 0.7022 - val_acc: 0.7640
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.3489 - acc: 0.8938 - val_loss: 0.3889 - val_acc: 0.8889
starting to train on epoch 3
495/495 - 27s - loss: 0.4589 - acc: 0.8590 - val_loss: 0.6252 - val_acc: 0.8230
Here
58/58 - 3s - loss: 1.0932 - acc: 0.6347 - val_loss: 1.0789 - val_acc: 0.6117
18/18 - 1s - loss: 1.0078 - acc: 0.6303 - val_loss: 1.1402 - val_acc: 0.6190
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 1.3825 - acc: 0.5847 - val_loss: 1.3500 - val_acc: 0.5968
15/15 - 1s - loss: 0.6745 - acc: 0.7899 - val_loss: 0.7143 - val_acc: 0.7549
38/38 - 2s - loss: 0.4005 - acc: 0.8589 - val_loss: 0.3697 - val_acc: 0.8642
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.7374 - acc: 0.7595 - val_loss: 0.7978 - val_acc: 0.7444
9/9 - 1s - loss: 0.4231 - acc: 0.8221 - val_loss: 0.4102 - val_acc: 0.8167
42/42 - 2s - loss: 0.5029 - acc: 0.8338 - val_loss: 0.5232 - val_acc: 0.8362
67/67 - 4s - loss: 0.7765 - acc: 0.7302 - val_loss: 1.0186 - val_acc: 0.6221
44/44 - 3s - loss: 1.0010 - acc: 0.6939 - val_loss: 1.1337 - val_acc: 0.6472
25/25 - 2s - loss: 0.5767 - acc: 0.7944 - val_loss: 0.7246 - val_acc: 0.7584
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.3090 - acc: 0.8991 - val_loss: 0.3161 - val_acc: 0.8889
starting to train on epoch 4
495/495 - 28s - loss: 0.4355 - acc: 0.8654 - val_loss: 0.6272 - val_acc: 0.8207
Here
58/58 - 3s - loss: 0.9970 - acc: 0.6601 - val_loss: 0.9816 - val_acc: 0.6529
18/18 - 1s - loss: 0.8887 - acc: 0.6844 - val_loss: 1.0286 - val_acc: 0.6270
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 1.2323 - acc: 0.6275 - val_loss: 1.2588 - val_acc: 0.6157
15/15 - 1s - loss: 0.5713 - acc: 0.8140 - val_loss: 0.6921 - val_acc: 0.7647
38/38 - 2s - loss: 0.3206 - acc: 0.8975 - val_loss: 0.4037 - val_acc: 0.8679
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.6589 - acc: 0.7760 - val_loss: 0.7607 - val_acc: 0.7669
9/9 - 1s - loss: 0.3639 - acc: 0.8670 - val_loss: 0.3918 - val_acc: 0.8333
42/42 - 2s - loss: 0.4324 - acc: 0.8574 - val_loss: 0.4324 - val_acc: 0.8601
67/67 - 4s - loss: 0.6939 - acc: 0.7654 - val_loss: 0.8420 - val_acc: 0.7176
44/44 - 2s - loss: 0.8928 - acc: 0.7234 - val_loss: 1.0995 - val_acc: 0.6602
25/25 - 1s - loss: 0.5302 - acc: 0.8150 - val_loss: 0.6642 - val_acc: 0.8034
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.2765 - acc: 0.9080 - val_loss: 0.2929 - val_acc: 0.9048
starting to train on epoch 5
495/495 - 27s - loss: 0.4169 - acc: 0.8720 - val_loss: 0.6101 - val_acc: 0.8281
Here
58/58 - 3s - loss: 0.9032 - acc: 0.6906 - val_loss: 0.9305 - val_acc: 0.6723
18/18 - 1s - loss: 0.8143 - acc: 0.7110 - val_loss: 1.0066 - val_acc: 0.6190
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 1.0908 - acc: 0.6714 - val_loss: 1.3430 - val_acc: 0.5881
15/15 - 1s - loss: 0.5104 - acc: 0.8381 - val_loss: 0.6735 - val_acc: 0.7941
38/38 - 2s - loss: 0.2769 - acc: 0.9118 - val_loss: 0.3197 - val_acc: 0.8755
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.5808 - acc: 0.8086 - val_loss: 0.7146 - val_acc: 0.7837
9/9 - 1s - loss: 0.3521 - acc: 0.8596 - val_loss: 0.4278 - val_acc: 0.8833
42/42 - 2s - loss: 0.3549 - acc: 0.8802 - val_loss: 0.5931 - val_acc: 0.8225
67/67 - 4s - loss: 0.6206 - acc: 0.7848 - val_loss: 0.6810 - val_acc: 0.7919
44/44 - 2s - loss: 0.8092 - acc: 0.7465 - val_loss: 0.9345 - val_acc: 0.7120
25/25 - 2s - loss: 0.4650 - acc: 0.8382 - val_loss: 0.7657 - val_acc: 0.7360
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.2398 - acc: 0.9221 - val_loss: 0.3142 - val_acc: 0.9048
starting to train on epoch 6
495/495 - 28s - loss: 0.3954 - acc: 0.8783 - val_loss: 0.6160 - val_acc: 0.8307
Here
58/58 - 3s - loss: 0.8181 - acc: 0.7219 - val_loss: 0.8683 - val_acc: 0.6942
18/18 - 1s - loss: 0.7430 - acc: 0.7429 - val_loss: 0.9614 - val_acc: 0.6587
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 0.9975 - acc: 0.6983 - val_loss: 1.1514 - val_acc: 0.6215
15/15 - 1s - loss: 0.4314 - acc: 0.8457 - val_loss: 0.4600 - val_acc: 0.8824
38/38 - 2s - loss: 0.2397 - acc: 0.9244 - val_loss: 0.3564 - val_acc: 0.8830
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.5296 - acc: 0.8283 - val_loss: 0.6486 - val_acc: 0.8062
9/9 - 1s - loss: 0.3036 - acc: 0.8895 - val_loss: 0.3384 - val_acc: 0.8833
42/42 - 2s - loss: 0.3134 - acc: 0.9015 - val_loss: 0.4152 - val_acc: 0.8737
67/67 - 4s - loss: 0.5487 - acc: 0.8119 - val_loss: 0.7087 - val_acc: 0.7962
44/44 - 2s - loss: 0.7208 - acc: 0.7749 - val_loss: 0.8869 - val_acc: 0.6861
25/25 - 1s - loss: 0.4144 - acc: 0.8583 - val_loss: 0.5436 - val_acc: 0.8258
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.1928 - acc: 0.9327 - val_loss: 0.4793 - val_acc: 0.9048
starting to train on epoch 7
495/495 - 27s - loss: 0.3794 - acc: 0.8839 - val_loss: 0.6163 - val_acc: 0.8301
Here
58/58 - 3s - loss: 0.7526 - acc: 0.7414 - val_loss: 0.8088 - val_acc: 0.7063
18/18 - 1s - loss: 0.6708 - acc: 0.7589 - val_loss: 0.8821 - val_acc: 0.7063
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 0.9031 - acc: 0.7188 - val_loss: 1.1333 - val_acc: 0.6419
15/15 - 1s - loss: 0.3781 - acc: 0.8709 - val_loss: 0.5963 - val_acc: 0.7941
38/38 - 2s - loss: 0.2056 - acc: 0.9357 - val_loss: 0.2833 - val_acc: 0.8868
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.4991 - acc: 0.8361 - val_loss: 0.6281 - val_acc: 0.8006
9/9 - 1s - loss: 0.2675 - acc: 0.8914 - val_loss: 0.2964 - val_acc: 0.9000
42/42 - 2s - loss: 0.2905 - acc: 0.9125 - val_loss: 0.4833 - val_acc: 0.8532
67/67 - 4s - loss: 0.5076 - acc: 0.8289 - val_loss: 0.7294 - val_acc: 0.7877
44/44 - 3s - loss: 0.6505 - acc: 0.7940 - val_loss: 0.8622 - val_acc: 0.7087
25/25 - 1s - loss: 0.3880 - acc: 0.8677 - val_loss: 0.4970 - val_acc: 0.8427
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.1904 - acc: 0.9363 - val_loss: 0.3081 - val_acc: 0.9048
starting to train on epoch 8
495/495 - 29s - loss: 0.3632 - acc: 0.8857 - val_loss: 0.6202 - val_acc: 0.8352
Here
58/58 - 4s - loss: 0.6851 - acc: 0.7632 - val_loss: 0.7637 - val_acc: 0.7257
18/18 - 1s - loss: 0.6127 - acc: 0.7837 - val_loss: 0.8493 - val_acc: 0.7222
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 5s - loss: 0.8415 - acc: 0.7391 - val_loss: 1.0650 - val_acc: 0.6681
15/15 - 1s - loss: 0.3477 - acc: 0.8709 - val_loss: 0.5654 - val_acc: 0.8529
38/38 - 2s - loss: 0.1836 - acc: 0.9408 - val_loss: 0.3183 - val_acc: 0.8717
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.4499 - acc: 0.8502 - val_loss: 0.6353 - val_acc: 0.8230
9/9 - 1s - loss: 0.2760 - acc: 0.9007 - val_loss: 0.2982 - val_acc: 0.9000
42/42 - 2s - loss: 0.2530 - acc: 0.9160 - val_loss: 0.5305 - val_acc: 0.8430
67/67 - 4s - loss: 0.4632 - acc: 0.8419 - val_loss: 0.6995 - val_acc: 0.7877
44/44 - 3s - loss: 0.5949 - acc: 0.8163 - val_loss: 0.8660 - val_acc: 0.6990
25/25 - 1s - loss: 0.3608 - acc: 0.8708 - val_loss: 0.5927 - val_acc: 0.7978
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.1628 - acc: 0.9487 - val_loss: 0.3794 - val_acc: 0.9048
starting to train on epoch 9
495/495 - 28s - loss: 0.3517 - acc: 0.8900 - val_loss: 0.6297 - val_acc: 0.8335
Here
58/58 - 4s - loss: 0.6302 - acc: 0.7783 - val_loss: 0.7415 - val_acc: 0.7354
18/18 - 1s - loss: 0.5491 - acc: 0.8183 - val_loss: 0.8788 - val_acc: 0.7063
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
1/1 - 0s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
97/97 - 6s - loss: 0.7867 - acc: 0.7611 - val_loss: 1.0309 - val_acc: 0.6652
15/15 - 1s - loss: 0.3362 - acc: 0.8731 - val_loss: 0.4237 - val_acc: 0.8824
38/38 - 2s - loss: 0.1730 - acc: 0.9420 - val_loss: 0.2256 - val_acc: 0.9283
14/14 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
50/50 - 3s - loss: 0.4137 - acc: 0.8658 - val_loss: 0.6093 - val_acc: 0.8174
9/9 - 1s - loss: 0.2553 - acc: 0.8970 - val_loss: 0.3025 - val_acc: 0.9000
42/42 - 3s - loss: 0.2373 - acc: 0.9228 - val_loss: 0.4438 - val_acc: 0.8669
67/67 - 4s - loss: 0.4287 - acc: 0.8475 - val_loss: 0.6509 - val_acc: 0.8068
44/44 - 3s - loss: 0.5681 - acc: 0.8221 - val_loss: 0.8002 - val_acc: 0.7282
25/25 - 2s - loss: 0.3369 - acc: 0.8777 - val_loss: 0.5319 - val_acc: 0.8258
15/15 - 1s - loss: 0.0000e+00 - acc: 0.0000e+00 - val_loss: 0.0000e+00 - val_acc: 0.0000e+00
9/9 - 1s - loss: 0.1383 - acc: 0.9558 - val_loss: 0.2539 - val_acc: 0.9048